<div class="container" data-ng-controller="HeaderController">
	<!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/" data-toggle="offcanvas">
                   NORISK
                </a>
            </li>
            <li>
                <a href="/la-empresa" data-toggle="offcanvas">La empresa</a>
            </li>
            <li>
                <a href="/view-categorias" data-toggle="offcanvas">Productos</a>
            </li>
            <li>
                <a href="/presupuesto" data-toggle="offcanvas">Presupuesto</a>
            </li>
            <li>
                <a href="/contacto" data-toggle="offcanvas">Contacto</a>
            </li>
            <span class="social-link">
                <a href=""><i class="fa fa-facebook-official"></i></a>
            </span>
            <span class="social-link">
                <a href=""><i class="fa fa-linkedin-square"></i></a>
            </span>
            <li class="dropdown" data-ng-show="authentication.user">
                <a href="#" data-toggle="dropdown">
                	Menú administrador<b class="caret"></b>
                </a>
		        <ul class="dropdown-menu">
		        	<a href="/productos" data-toggle="offcanvas">Lista de productos</a>
                    <a href="/productos/create" data-toggle="offcanvas">Crear Producto</a>
		          	<a href="/categorias/create" data-toggle="offcanvas">Crear Categoría</a>
		        </ul>
            </li>
            <li>
				<a href="/auth/signout" target ="_self" data-ng-show="authentication.user" data-toggle="offcanvas">Salir</a>
			</li>
        </ul>
    </nav>
</div>
