.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.textoCarrito{
	color:#FFF;
	float:right;
	margin-top: 15px;
}
.textCarrito:hover{
	color: #FFF;
	text-decoration: none;
}
.iconoCarrito{
	color:#FFF;
	float:right;
	font-size:45px;
}
.jumbotron{
	background:transparent !important;
}
.jumbotron h1{
	font-size: 8em;
}
.jumbotron p{
	font-style: italic;
}