.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.linkPresupuesto{
	float:right;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.7);
	padding: .5em;
}
.textoCarrito{
	color: #F7F7F7;
}
.linkPresupuesto a:hover{
	color: #F7F7F7;
	text-decoration: none;
}
.hvr-icon-drop:before {
    content: "\f07a";
}
.jumbotron{
	background:transparent !important;
}
.jumbotron h1{
	font-size: 8em;
}
.jumbotron p{
	font-style: italic;
}
.btn{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #F7F7F7;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	border: solid #F7F7F7 1px;
	text-decoration: none;
}
.btn-default, .btn-default:hover,.btn-primary, .btn-primary:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover{
	text-shadow: none;
}
.btn-default{
	background: rgba(0, 0, 0, 0.7);
}
.btn-default:hover{
	background: rgba(0, 0, 0, 0.7);
	border: solid #F7F7F7 1px;
	color: #F7F7F7;
}
.btn-primary{
	background: rgba(0, 50, 110, 0.7);
}
.btn-primary:hover{
	border: solid #F7F7F7 1px;
}
.btn-success{
	background: rgba(57, 161, 56, 0.7);
}
.btn-success:hover{
	border: solid #F7F7F7 1px;
}
.btn-warning{
	background: rgba(255, 162, 26, 0.7);
}
.btn-warning:hover{
	border: solid #F7F7F7 1px;
}
.btn-danger{
	background: rgba(215, 44, 44, 0.7);
}
.btn-danger:hover{
	border: solid #F7F7F7 1px;
}
footer {
	font-family: 'Lato', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    color: #F7F7F7;
    left: 0;
    bottom: 0;
    height: 3.5em;
    width: 100%;
    padding-top: .3em;
    overflow:hidden;
    font-size: 13px;
}
footer div{
	padding: .5em;
}
.creditos{
	text-align: right;
}
section > section{
	position:relative;
	z-index: 1000;
}