<table class="table cabecera">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody class="pedido">
        <tr ng-repeat="pedido in Pedidos">
            <td data-ng-bind="pedido.producto"></td>
            <td><input type="text" class="cantidad" ng-model="pedido.cantidad"></td>
            <td><i class="selectores fa fa-close" ng-click="eliminarProducto(pedido.producto)"></i></td>
        </tr>
    </tbody>
</table>
