/*------------------------------*/
/*        EFECTO ROTAR          */
/*------------------------------*/
.rotar{
   transform:rotateY(0deg);
   transition-duration: .3s;
   -webkit-transform:rotateY(0deg);
   -webkit-transition-duration: .3s;
}
.rotar:hover{
   transform:rotateY(180deg);
   transition-duration: .3s;
   -webkit-transform:rotateY(180deg);
   -webkit-transition-duration: .3s;
}

.carta-container {
  display: inline-block;
  height: 300px;
  margin: 12px 12px 26px 12px;
  position: relative;
  width: 260px;
  z-index: 1;
}
.carta-container {
  -webkit-perspective: 800;
  -moz-perspective: 800;
  perspective: 800;
}
.carta-container > p {
  font-family: 'Lato', sans-serif;
  margin: 8px 0 8px 0;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  color: #f7f7f7;
  background: rgba(0, 0, 0, 0.7);
}
.carta {
  box-shadow: 0px 0px 5px black;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s;
    
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.3s;
    
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.carta-container:hover .carta{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.carta .lado{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.carta .frente{
  height: 100%;
  width: 100%;
}
.carta .atras{
  background: #100809;
  color: #969493;
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.carta h4{
  margin: 1.5em 0 5em 0;
}
.text-center {
    color: aliceblue;
}

.listado {
  margin-left: 10px;
  text-align: left;
  font-size: 13px;
}
.pedido{
  font-size: 18px;
}
.cabecera, .pedido{
  color: aliceblue;
}
.selectores{
  cursor: pointer;
  font-size: 22px;
  margin-left: 5px;
}
.cantidad{
  color: #000;
  width: 45px;
}
.nombreProducto{
  font-size: 15px;
}
.error{
  font-weight: bold;
  color: #FFF;
  text-shadow: 0px 0px 8px rgba(1, 1, 1, 1);
  background: rgba(255,0,0,0.4);
  margin-top: .5em;
  padding: .5em;
}
/*MATERIAL DESIGN FORM*/

/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- Body style ------------------------------------ */
/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.form-group select{
  color: #757575;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  color: #F7F7F7;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #F7F7F7;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #F7F7F7;
  font-size: 12px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px;
  }
}
.float-label {
  left: 0;
  top: 7px;
  font-size: 16px;
  pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
  top: -18px;
  font-size: 12px;
}
/* input colors ---- */
.form-control:focus ~ label {
  color: #F7F7F7;
}
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  background: #03a9f4;
}
/* help-block */
.form-group .help-block {
  position: absolute;
}
.help-block {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
  display: table-cell;
}
.input-group-addon,
.input-group-btn {
  width: inherit;
}
.input-group {
  width: 100%;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px;
  }
  .input-group-btn,
  .input-group .form-control,
  .input-group-addon,
  .form-inline .input-group {
    display: inline-block;
  }
  .input-group {
    width: auto;
  }
}
/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before,
.form-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*-- Checkbox --------------------------- */
/* 
 * Core styles required for the checkboxes.
 * @author Jason Mayes 2014, www.jasonmayes.com
*/
.form-group.checkbox {
  margin-top: 20px;
}
.checkbox input[type='checkbox'] {
  height: 0;
  width: 0;
  opacity: 0;
}
.checkbox label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 10px;
  padding-left: 0;
}
.checkbox .chk-span {
  top: 0;
  border: 1px solid #5a5a5a;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 0 14px 14px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  width: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.checkbox .chk-span.checked {
  top: -2px;
  border-left: 2px solid #03a9f4;
  border-bottom: 4px solid #03a9f4;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  -webkit-transform: rotate(-45deg) scaleY(0.5);
  -moz-transform: rotate(-45deg) scaleY(0.5);
  -ms-transform: rotate(-45deg) scaleY(0.5);
  -o-transform: rotate(-45deg) scaleY(0.5);
  transform: rotate(-45deg) scaleY(0.5);
}
.checkbox .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label {
  color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label .chk-span {
  border-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 5px;
  }
}
.form-control-static {
  font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}
#focusedInput {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: none;
}
.buscador{
  float: right;
  background: rgba(0, 0, 0, 0.7);
  padding: .3em;
  color: #F7F7F7;
  margin: 0 0 0 .1em;
}
