<section data-ng-controller="PedidoController"> <!-- Vista de Presupuesto -->
    <div class="panel-heading">
        <h1 class="page-header text-center">Presupuesto</h1>
    </div>
    <div class="col-md-5"><!-- Listado de Pedido -->
        <h2 class="page-header text-center">Lista de productos</h2>
        <producto></producto>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <!-- FORMULARIO DE PRESUPUESTO -->
        <form name="formularioPresupuesto" ng-submit="sendMail()" novalidate>
            
            <!-- NOMBRE -->
            <div class="form-group" ng-class="{ 'has-error' : formularioPresupuesto.contactoNombre.$invalid && !formularioPresupuesto.contactoNombre.$pristine }">
                <label>Nombre</label>
                <input type="text" name="contactoNombre" class="form-control" ng-model="contactoNombre" required>
                <p ng-show="formularioPresupuesto.contactoNombre.$invalid && !formularioPresupuesto.contactoNombre.$pristine" class="error">Debe ingresar un nombre.</p>
            </div>
          
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : formularioPresupuesto.contactoEmail.$invalid && !formularioPresupuesto.contactoEmail.$pristine }">
                <label>Email</label>
                <input type="email" name="contactoEmail" class="form-control" ng-model="contactoEmail" required>
                <p ng-show="formularioPresupuesto.contactoEmail.$invalid && !formularioPresupuesto.contactoEmail.$pristine" class="error">Ingrese un email válido.</p>
            </div>
            
            <!-- TELEFONO -->
            <div class="form-group" ng-class="{ 'has-error' : formularioPresupuesto.contactoTelefono.$invalid && !formularioPresupuesto.contactoTelefono.$pristine }">
                <label>Telefono</label>
                <input type="text" name="contactoTelefono" class="form-control" ng-model="contactoTelefono" required>
                <p ng-show="formularioPresupuesto.contactoTelefono.$invalid && !formularioPresupuesto.contactoTelefono.$pristine" class="error">Debe ingresar un teléfono.</p>
            </div>

            <!-- BOTON SUBMIT -->
            <button type="submit" class="btn btn-primary" ng-disabled="formularioPresupuesto.$invalid">Enviar</button>
        </form>
    </div>
</section>