<section data-ng-controller="ProductosController" data-ng-init="find()">
    <div class="panel-heading">
        <h1 class="page-header text-center">Listado de productos</h1>
    </div>
    <div class="col-md-7">
        <div class="form-group">
            <input type="text" ng-model="search" typeahead="producto as producto.nombre for producto in productos | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="productoSearch($item)" placeholder="Buscar producto...">
        </div>
    
    <div class="list-group">
        <a data-ng-repeat="producto in productos | limitTo: offset - productos.length | limitTo: pageSize" data-ng-href="#!/productos/{{producto._id}}" class="list-group-item" data-num-pages="numPages()">
			<h4 class="list-group-item-heading" data-ng-bind="producto.nombre"></h4>
            <span>{{ producto.categoria.categoria }}</span>
        </a>
    </div>
    </div>
    <pagination total-items="productos.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="productos.length > pageSize"></pagination>
    <div class="alert alert-warning text-center" data-ng-hide="!productos.$resolved || productos.length">
    	No existes productos, sin embargo, deseas <a href="/#!/productos/create">crear uno</a>?
    </div>
</section>