<section data-ng-controller="ProductosController" data-ng-init="findOne()">
	<div class="panel-heading">
        <h1 class="page-header text-center" data-ng-bind="producto.nombre"></h1>
    </div>
	<div class="carta-container">
       <div class="carta">
           <div class="lado frente">
               <img ng-src="/images/{{categoria.categoria}}/{{producto.nombre}}.jpg" alt="">
           </div>
           <div class="lado atras">
               <div class="body-reverso listado">
                    <p data-ng-bind="producto.categoria.categoria"></p>
                    <p data-ng-bind="producto.codigo"></p>
                    <p data-ng-bind="producto.descripcion"></p>
                    <p data-ng-bind="producto.reflectivos"></p>
                    <p data-ng-bind="producto.altura"></p>
                    <p data-ng-bind="producto.base"></p>
                    <p data-ng-bind="producto.peso"></p>
                    <p data-ng-bind="producto.colores"></p>
               </div>
           </div>  
       </div>
    </div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/productos/{{producto._id}}/edit">Editar</a>
		<a class="btn btn-warning" data-ng-click="remove();">Eliminar</a>
		<a class="btn btn-success" href="/#!/categorias">Volver</a>
	</div>
</section>