<section data-ng-controller="ProductosController" data-ng-init="findOne()"><!-- Vista de un Producto -->
  <div class="row">
    <!-- PRESUPUESTO -->
    <div class="linkPresupuesto">
        <a ng-href="/presupuesto" class="textoCarrito hvr-icon-drop">Ver presupuesto</a>
    </div>
  </div>
	<div class="panel-heading">
    <h1 class="page-header text-center" data-ng-bind="producto.nombre"></h1>
  </div>
	<div class="carta-container">
   <div class="carta">
       <div class="lado frente">
           <img ng-src="/images/{{producto.categoria.categoria}}/{{producto.nombre}}.jpg" alt="">
       </div>
       <div class="lado atras">
          <div class="header reverso">
               <h4 data-ng-bind="producto.nombre"></h4>
           </div>
           <div class="body-reverso">
              <a class="btn btn-default hvr-wobble-horizontal" data-toggle="modal" data-target="#modal-fullscreen{{producto._id}}">+Info</a>
           </div>
       </div>  
   </div>
</div>
<!-- Modal fullscreen -->
  <div class="modal modal-fullscreen fade" id="modal-fullscreen{{producto._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         <h2 class="modal-title text-center" id="myModalLabel">{{producto.nombre}}</h2>
       </div>
       <div class="modal-body">
          <div class="col-md-4">
             <img ng-src="/images/{{categoria.categoria}}/{{producto.nombre}}.jpg" alt="">
          </div>
          <div class="col-md-7 col-md-offset-1">
            <ul class="list-unstyled">
              <li><span class="descripcion">Codigo: </span><span class="detalleProducto">{{producto.codigo}}</span></li>
              <li><span class="descripcion">Descripcion: </span><span class="detalleProducto">{{producto.descripcion}}</span></li>
              <li><span class="descripcion">Reflectivos: </span><span class="detalleProducto">{{producto.reflectivos}}</span></li>
              <li><span class="descripcion">Altura: </span><span class="detalleProducto">{{producto.altura}}</span></li>
              <li><span class="descripcion">Base: </span><span class="detalleProducto">{{producto.base}}</span></li>
              <li><span class="descripcion">Peso: </span><span class="detalleProducto">{{producto.peso}}</span></li>
              <li><span class="descripcion">Colores: </span><span class="detalleProducto">{{producto.colores}}</span></li>
            </ul>
            <div class="col-md-8">
                <button class="btn btn-default agregarPedido hvr-wobble-vertical" ng-click="mostrar()">Agregar a pedido</button>
                <span ng-hide="mostrar" data-ng-controller="PedidoController">
                    <div class="form-group col-md-3" style="float: right; margin-top: 0">
                        <input type="number" ng-model="cantidad" class="form-control"></input>
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label class="float-label">Cantidad</label>
                    </div>
                    <button ng-click="agregarPedido(producto.nombre, cantidad)" type="button" class="btn btn-success hvr-wobble-vertical" data-dismiss="modal">Enviar</button>
                </span>
                <a class="btn btn-primary hvr-wobble-vertical" href="/productos/{{producto._id}}/edit" data-ng-show="authentication.user">Editar</a>
            </div>
          </div>
       </div>
     </div>
    </div>
  </div>
	<div class="pull-right" data-ng-show="authentication.user">
        <a class="btn btn-success hvr-wobble-vertical" href="/productos/{{producto._id}}/edit">Editar</a>
        <a class="btn btn-danger hvr-wobble-vertical" data-ng-click="remove();">Eliminar</a>
        <a class="btn btn-primary hvr-wobble-vertical" href="/categorias">Volver</a>
    </div>
</section>