<section data-ng-controller="EmpresasController">
    <div class="panel-heading">
        <h1 class="page-header text-center">Contacto</h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <!-- FORMULARIO DE CONTATO -->
        <form name="formularioContacto" ng-submit="sendMail()" novalidate>
            
            <!-- NOMBRE -->
            <div class="form-group" ng-class="{ 'has-error' : formularioContacto.contactoNombre.$invalid && !formularioContacto.contactoNombre.$pristine }">
                <label>Nombre</label>
                <input type="text" name="contactoNombre" class="form-control" ng-model="contactoNombre" required>
                <p ng-show="formularioContacto.contactoNombre.$invalid && !formularioContacto.contactoNombre.$pristine" class="error">Debe ingresar un nombre.</p>
            </div>
            
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : formularioContacto.contactoEmail.$invalid && !formularioContacto.contactoEmail.$pristine }">
                <label>Email</label>
                <input type="email" name="contactoEmail" class="form-control" ng-model="contactoEmail" required>
                <p ng-show="formularioContacto.contactoEmail.$invalid && !formularioContacto.contactoEmail.$pristine" class="error">Ingrese un email válido.</p>
            </div>
            
            <!-- TELEFONO -->
            <div class="form-group" ng-class="{ 'has-error' : formularioContacto.contactoTelefono.$invalid && !formularioContacto.contactoTelefono.$pristine }">
                <label>Telefono</label>
                <input type="text" name="contactoTelefono" class="form-control" ng-model="contactoTelefono" required>
                <p ng-show="formularioContacto.contactoTelefono.$invalid && !formularioContacto.contactoTelefono.$pristine" class="error">Debe ingresar un teléfono.</p>
            </div>

            <!-- CONSULTA -->
            <div class="form-group" ng-class="{ 'has-error' : formularioContacto.contactoConsulta.$invalid && !formularioContacto.contactoConsulta.$pristine }">
                <label>Consulta</label>
                <textarea name="contactoConsulta" data-ng-model="contactoConsulta" class="form-control" cols="30" rows="4" required></textarea>
                <p ng-show="formularioContacto.contactoConsulta.$invalid && !formularioContacto.contactoConsulta.$pristine" class="error">Debe ingresar una consulta.</p>
            </div>

            <!-- BOTON SUBMIT -->
            <button type="submit" class="btn btn-primary hvr-wobble-vertical" ng-disabled="formularioContacto.$invalid">Enviar</button>
        </form>
    </div>
</section>