<section data-ng-controller="EmpresasController" data-ng-init="find()">
	<div class="jumbotron text-center" data-ng-repeat="empresa in empresas">
	    <h1 data-ng-bind="empresa.nombre"></h1>
	</div>
    <div class="col-md-8 col-md-offset-2" data-ng-repeat="empresa in empresas">
    	<p data-ng-bind="empresa.descripcion" class="descripcionEmpresa"></p>
    </div>
    <div data-ng-show="authentication.user">
		<a class="btn btn-success hvr-wobble-vertical" href="/#!/empresas/56d97bdc2f5995771060af9f/edit">Editar</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!empresas.$resolved || empresas.length">
		No empresas yet, why don't you <a href="/#!/empresas/create">create one</a>?
	</div>
</section>