<section class="container" data-ng-controller="CategoriasController" data-ng-init="find()">
    <div class="alert alert-warning text-center" data-ng-hide="!categorias.$resolved || categorias.length">
    No existen categorias, sin embargo deseas <a href="/#!/categorias/create">crear una</a>?
    </div>
    <div class="row">
        <!-- BUSCADOR -->
        <div class="form-group col-md-2">
            <div class="controls">
                <input type="text" ng-model="search" typeahead="producto as producto.nombre for producto in productos | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="productoSearch($item)" id="search">
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label class="float-label" for="search" >Buscar producto</label>
            </div>
        </div>
        <!-- PRESUPUESTO -->
        <div class="linkPresupuesto">
            <a ng-href="/#!/presupuesto" class="textoCarrito hvr-icon-drop">Ver presupuesto</a>
        </div>
    </div>
    <div class="row">
        <!-- LISTADO CATEGORIAS -->
        <div class="panel-heading">
            <h1 class="page-header text-center">Categorías</h1>
        </div>

         <!-- LISTADO DE CATEGORIAS -->
        <div class="carta-container" data-ng-repeat="categoria in categorias">
            <div class="carta">
                <div class="lado frente">
                    <img ng-src="/images/{{categoria.categoria}}.jpg" alt="">
                </div>
                <div class="lado atras">
                    <div class="header reverso">
                        <h4 data-ng-bind="categoria.nombre"></h4>
                    </div>
                    <div class="body-reverso">
                        <p class="btn btn-default hvr-wobble-horizontal" ng-click="listarProductos(categoria)" class="link">Ver productos</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>