<section data-ng-controller="CategoriasController"><!-- Nueva Categoría -->
    <div class="panel-heading">
        <h1 class="page-header text-center">Nueva Categoria</h1>
    </div>
    <div class="col-md-7 col-md-offset-2">
        <form class="form-horizontal" data-ng-submit="create()" novalidate><!--Formulario Nueva Categoría -->
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="categoria" id="categoria" class="form-control" required>
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label class="float-label">Categoría</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="nombre" id="nombre" class="form-control" required>
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label class="float-label">Nombre</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <textarea name="descripcion" data-ng-model="descripcion" id="descripcion" class="form-control" cols="30" rows="5" required></textarea>
                        <span class="form-highlight"></span>
                        <span class="form-bar"></span>
                        <label class="float-label">Descripcion</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success hvr-wobble-vertical">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>