<section data-ng-controller="CategoriasController" data-ng-init="findOne()">
	<div class="panel-heading">
		<h1 class="page-header text-center" data-ng-bind="categoria.nombre"></h1>
	</div>
	<div data-ng-show="authentication.user">
		<a class="btn btn-success" href="/#!/categorias/{{categoria._id}}/edit">Editar</a>
		<a class="btn btn-warning" data-ng-click="remove();">Eliminar</a>
	</div>
	<div class="row">
		<span data-ng-repeat="producto in productos | filter : producto.categoria = categoria._id">
       	<carta></carta>
       </span>
    </div>
</section>